BasedOnStyle: Google
IndentWidth: 4
SortIncludes: false
ColumnLimit: 100
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: true
  AfterEnum: true
  AfterStruct: true
  AfterClass: true
  AfterNamespace: true
  AfterExternBlock: true
  BeforeElse: true
  BeforeCatch: true
  BeforeWhile: true
