BasedOnStyle: LLVM
SortIncludes: false
IndentWidth: 2
UseTab: Never
ColumnLimit: 80
AlignArrayOfStructures: Left
BreakBeforeBraces: Allman
BinPackArguments: true
BinPackParameters: true
AlignAfterOpenBracket: BlockIndent
Cpp11BracedListStyle: true

